/* General reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* LAYOUT RULES */

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/bebasneue.otf") format("opentype");
  }

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;  
}

h1 {
  font-size: 1.6em;
  font-weight: 600;
}

h2 {
  font-size: 1.2em;
}

p {    
  font-weight: 300;
  margin: 0.85em 0;
  line-height: 1.4em;
}

a {
  color: rgb(255,255,255);
  text-decoration: none;  
}

a:hover {
  color: rgb(125,125,125);
  text-decoration: none;
}

a:active {
  color: rgb(125,125,125);
  text-decoration: none;
}

a:visited {
  color: rgb(255,255,255);
  text-decoration: none;
}

.container {
  display: flex;  
}

.content h1 {
  padding-left: 2em;
}

.card {
  margin-bottom: 1.8em;
  padding: 1em 2em;
  overflow: hidden;
  border-radius: 3px;  
}

.card:hover {
  background-color: rgba(255,255,255,0.3)
}

.card a {
  font-weight: 900;
}

.card h1 {
  margin-left: 4%; 
}

.card img {
  width: 180px;  
  border: solid 1px white;
}

/* HEADER RULES */

header {  
  position: fixed;  
  width: 100%;  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 7%;
  z-index: 10;
}

.home header {
  background-color: rgb(0,0,0);
}

.bio header {
  background-color: rgb(51,51,51);
}

.agenda header {
  background-color: rgb(102,102,102);
}

.media header {
  background-color: rgb(153,153,153);
}

.contacto header {
  background-color: rgb(204,204,204);
}

.presskit header {
  background-color: rgb(255,255,255);
}

nav h1 {
  display: inline-block;  
}

nav ul {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap; 
  text-transform: lowercase;
}

nav li {
  display: inline-block;
  white-space: nowrap;
  padding: 0 0.4em;
  font-size: 1em;    
}

.langbar {
  display: inline-block;  
  white-space: nowrap;    
  margin-right: 2%;
  font-size: 0.8em 
}

.logo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.2em;
  font-weight: 100;
  white-space: nowrap; 
  margin-left: 2.5%;
  letter-spacing: 0em;
}

.logo a {
  color: rgb(255,255,255);
}

.logo a:active {
  color: rgb(255,255,255);
}

.logo a:visited  {
  color: rgb(255,255,255);
}

.logo a:hover {
  color: (70,70,70); 
}

/* MAIN */

main {
  min-height: 90vh;
}

/* FOOTER */

footer {  
  bottom: 0;
  height: 3%;
  width: 100%;
  align-content: center;
}

.home footer {
  background-color: rgb(0,0,0);    
}

.bio footer {
  background-color: rgb(51,51,51);
}

.agenda footer {
  background-color: rgb(102,102,102);
}

.media footer {
  background-color: rgb(153,153,153);
}

.contacto footer {
  background-color: rgb(204,204,204);
}

.presskit footer {
  background-color: rgb(255,255,255);
}

footer p {  
  text-align: right;
  padding: 0;
  margin: 0;  
}

/* SECCION HOME */

.home body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  background-image: url("./assets/img/despierta1.jpg");
  background-repeat: no-repeat;
  background-position: right top;  
}

.home main {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  width: 55%;
  margin-left: 2%;
}

.home main h1 {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.home .video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.1924%;
}

.home .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SECCIÓN BIO */

.bio body {
  background-color: rgb(200,200,200);
  color: rgb(255,255,255);
}

.bio main {
  padding-top: 12%;
  background-image: url("./assets/img/rodajecm.jpg");
  background-size: cover;    
}

.bio .content {
  margin-left: auto;
  margin-right: 0%;
  width: 55%;  
}

.bio .content p {
  padding-right: 5%;
  color: rgb(51,51,51);
}

/* SECCIÓN AGENDA */

/* SECCIÓN MEDIA */

.media .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
}

.media .separator {
  width: 100%;
}

.media .card {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;    
}

.media .card p {     
  margin-left: 4%;  
  font-size: 0.9em;  
  font-weight: 300;
  width: 80%;
}

.media .card p a {
  font-weight: 900;
}

.media .card h1 {
  margin-left: 4%; 
  margin-top: 4%;
  margin-bottom: 2%;
}

.media .info {
  height: 100%;
  width: 50%;
}

.media .card .social {
  align-content: space-around;
}

.media .video-container {
  position: relative;
  width: 50%;  
  padding-bottom: 56.1924%;
}

.media .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media .card img {
  width: 180px;  
  border: solid 1px white;
}

.media .card .desc {  
  background-color: blueviolet;  
  width: 50%;
  align-self: flex-start;
  flex-grow: 2;
}

.media .card .social {  
  background-color: red;    
  width: 50%;
  flex-grow: 0;
  flex-shrink: 1;  
}

.media .separator {
  width: 100%;
  height: 400px;  
}

.media .separator.a {
  background-image: url("./assets/img/jm6.jpg");  
  background-attachment: fixed;
  background-size: cover;
}

.media .separator.b {
  background-image: url("./assets/img/pcm.jpg");
  background-position-y: 50%;
  background-attachment: fixed;  
  background-size: cover;
  
}

.media .separator.c {
  
}

.media .separator.d {
  background-image: url("./assets/img/sab.jpg");
  background-attachment: fixed;
  background-position-y: 35%;
  background-size: cover;
}

.fab {  
  padding: 20px;
  font-size: 2em;
  width: 50px;
  text-align: center;
  text-decoration: none;  
}

.fab:hover {
  opacity: 0.5;
}

.fas  {  
  padding: 20px;
  font-size: 2em;
  width: 50px;
  text-align: center;
  text-decoration: none;   
}

.fas:hover {
  opacity: 0.5;
}

/* SECCIÓN PRESSKIT */

.presskit body {
  background-color: rgb(200,200,200);
  color: rgb(255,255,255);
}

.presskit main {
  padding-top: 12%;
  background-image: url("./assets/img/rodajecm.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 800px;
}

/* SECCIÓN CONTACTO */

.contacto body {
  background-color: rgb(200,200,200);
  color: rgb(255,255,255);
}

.contacto main {
  padding-top: 12%;
  background-image: url("./assets/img/contacto.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 800px;
}