/* General reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* LAYOUT RULES */

@font-face {
  font-family: "Bebas Neue";
  src: url("./assets/fonts/bebasneue.otf") format("opentype");
  }

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

p {   
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
  margin: 0.85em 0;
  line-height: 1.4em;
}

a {
  color: rgb(255,255,255);
  text-decoration: none;  
}

a:hover {
  color: rgb(125,125,125);
  text-decoration: none;
}

a:active {
  color: rgb(125,125,125);
  text-decoration: none;
}

.container {
  display: flex;  
}

.content h1 {
  padding-left: 2em;
}

.card h1 {
  margin-left: 4%; 
}

.card img {
  width: 180px;  
  border: solid 1px white;
}

/* HEADER RULES */

header {  
  position: fixed;  
  width: 100%;  
  height: auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;  
  z-index: 10;
}

.home header {
  background-color: rgb(0,0,0);
}

.bio header {
  background-color: rgb(51,51,51);
}

.agenda header {
  background-color: rgb(102,102,102);
}

.media header {
  background-color: rgb(153,153,153);
}

.contacto header { 
  background-color: rgb(204,204,204);
}

.presskit header {
  background-color: rgb(255,255,255);
}

nav h1 {
  display: inline-block;  
}

nav ul {
  display: inline-block;
  list-style-type: none;
  white-space: nowrap; 
  text-transform: lowercase;
}

nav li {
  display: inline-block;
  white-space: nowrap;
  padding: 0 0.4em;
  font-size: 1em;    
}

.langbar {
  display: inline-block;  
  white-space: nowrap;    
  margin-right: 2%;
  font-size: 0.8em 
}

.logo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.2em;
  font-weight: 100;
  white-space: nowrap; 
  margin-left: 2.5%;
  letter-spacing: 0em;
}

.logo a {
  color: rgb(255,255,255);
}

.logo a:active {
  color: rgb(255,255,255);
}

.logo a:visited  {
  color: rgb(255,255,255);
}

.logo a:hover {
  color: (255,255,255);
}

/* COLOR CORRECTION FOR LIGHT BACKGROUNDS */

.presskit nav li a {
  color: rgb(0,0,0);
}

.presskit .langbar a {
  color: rgb(0,0,0);
}

.presskit .logo a {
  color: rgb(0,0,0);
}

.presskit .logo a:active {
  color: rgb(0,0,0);
}

.presskit .logo a:visited  {
  color: rgb(0,0,0);
}

.presskit .logo a:hover {
  color: rgb(0,0,0); 
}

/* MAIN */

main {
  min-height: 90vh;
}

/* FOOTER */

footer {  
  bottom: 0;
  height: 3%;
  width: 100%;
  align-content: center;
}

.home footer {
  background-color: rgb(0,0,0);    
}

.bio footer {
  background-color: rgb(51,51,51);
}

.agenda footer {
  background-color: rgb(102,102,102);
}

.media footer {
  background-color: rgb(153,153,153);
}

.contacto footer {
  background-color: rgb(204,204,204);
}

.presskit footer {
  background-color: rgb(255,255,255);
}

footer p {  
  text-align: right;
  padding: 0;
  margin: 0;  
}

/* SECCION HOME */

.home body {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  background-image: url("./assets/img/despierta1.jpg");
  background-repeat: no-repeat;
  background-position: right top;  
}

.home main {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  width: 55%;
  margin-left: 2%;
}

.home main h1 {
  margin-bottom: 0.3em;
  margin-left: 1em;
}

.home .card {
  margin-bottom: 1.8em;
  padding: 1em 2em;
  overflow: hidden;
  border-radius: 3px;  
}

.home .card:hover {
  background-color: rgba(255,255,255,0.3)
}

.home .card a {
  font-weight: 900;
}

.home .video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.1924%;
}

.home .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* SECCIÓN BIO */

.bio body {
  background-color: rgb(200,200,200);
  color: rgb(255,255,255);
}

.bio main {  
  padding-top: 9%;
  background-image: url("./assets/img/rodajecm.jpg");
  background-size: cover;
  align-items: center;
}

.bio .content {
  margin-left: auto;
  margin-right: 2%;
  width: 55%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
}

.bio .content p {
  padding: 0 5%;
  color: rgb(51,51,51);
  font-weight: 600;
}

.bio .content p:first-child {
  padding-top: 3%;
}

.bio .content p:last-child {
  padding-bottom: 3%;
}

/* SECCIÓN AGENDA */

/* SECCIÓN MEDIA */

.media .container {
  flex-direction: row;
  flex-wrap: wrap;
}

.media .separator {
  background-color: rebeccapurple;
  height: auto;
  width: 100%;
}

.media .card {
  background-color: red;
  height: auto;
  width: 50%;  
}

.media .info {
  height: 80%;  
  background-color: burlywood;
}

.media .social {
  height: 20%;  
  background-color: gold;
}

.media .video-container {
  height: 100%;    
  background-color: blue;  
}

.media .video {
  height: 100%;
  width: 100%;
}

/* SECCIÓN CONTACTO */

.contacto main {
  display: flex;
  background-image: url("./assets/img/contacto.jpg");
  background-size: cover;
  align-items: center;
}

.contacto .content {
  margin: 0 auto;
  background-color: rgba(255,255,255,0.3);
  border-radius: 3px;
}

.contacto .content:first-child {
  padding-top: 3%;
}

.contacto .content:last-child {
  padding-bottom: 3%;
}

.contacto button {
  display: block;
}

.contacto input {
  display: block;  
}

.contacto form {  
  padding: 2em;    
}

/* SECCIÓN PRESSKIT */

.presskit main {  
  width: 100%;
  padding-top: 12%;
  background-image: url("./assets/img/rodajecm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.presskit .content {
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  margin: 0 auto;  
  font-family: "PT Sans", sans-serif;
  padding: 3%;
  align-content: space-between;
}

.presskit .fas {
  font-size: 3em;
}
