/* General reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/*********************************************************/

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeue.otf') format('opentype');
  src: url('/assets/fonts/bebasneue-webfont.woff2') format('woff2'),
       url('/assets/fonts/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Condensed');

/* GENERAL LAYOUT RULES */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;  
  height: 45px;
}

header .logo a {
  font-family: 'Bebas Neue', monospace;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 45px;  
  white-space: nowrap;
  padding-left: 10px;
}

header ul {
  display: flex;  
}

header ul li {
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  white-space: nowrap;
  text-transform: lowercase;
  padding: 0 4px;  
}

header .langbar {
  font-family: 'PT Sans', sans-serif;
  padding-right: 10px;
}

nav a {
  font-weight: 100;
}

.langbar a {
  font-size: 13px;
  font-weight: 300;
}

main.container {
  display: flex;
  flex-direction: column;  
  min-height: 100vh;
  padding-top: 45px;
  justify-content: center;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 24px;
  padding: 15px 0;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
}

a {
  font-weight: 600
}

button {
  border: 0;
  border-radius: 5px;
}

input {
  border: 0;
  border-radius: 5px
}

input::placeholder {
  padding-left: 6px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'PT Sans', sans-serif;  
  text-transform: lowercase;
  height: 26px;  
}

footer p {
  align-self: flex-end;
  font-size: 12pt;
  line-height: 12pt;
}

/*COLOR RULES*/

.home header, .home footer {
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
}

.bio header, .bio footer {
  color: rgb(255,255,255);
  background-color: rgb(51,51,51);
}

.media header, .media footer{
  color: rgb(255,255,255);
  background-color: rgb(102,102,102);
}

.agenda header, .agenda footer {
  color: rgb(0,0,0);
  background-color: rgb(153,153,153);
}

.contacto header, .contacto footer {
  color: rgb(0,0,0);
  background-color: rgb(204,204,204);
}

.presskit header, .presskit footer {
  color: rgb(0,0,0);
  background-color: rgb(255,255,255);
}

/* COLORS FOR LINKS */

.home a, .bio a, .media a {
  color: rgb(255,255,255);
  text-decoration: none;
}

.home a:hover, .bio a:hover, .media a:hover {
  color: rgb(170,170,170);  
}

.agenda a, .contacto a, .presskit a {
  color: rgb(0,0,0);
  text-decoration: none;
}

.agenda a:hover, .contacto a:hover, .presskit a:hover {
  color: rgb(170,170,170);  
}

.home, .bio, .media {
  color: rgb(255,255,255);
}

.agenda .contacto .presskit {
  color: rgb(0,0,0);
}

/* hover fix for logo */

.home header .logo a:hover, .bio header .logo a:hover, .media header .logo a:hover {
  color: rgb(255,255,255);
}

.agenda header .logo a:hover, .contacto header .logo a:hover, .presskit header .logo a:hover {
  color: rgb(0,0,0);
}

/* FONT COLORS */

/*HOME*/

.home .container {
  background-image: url('./assets/img/bg/home1360.png');
  background-size: cover;
}

.home .card {
  width: 700px;
  align-self: flex-start;
  margin-left: 15px;
  padding: 20px;
  border-radius: 3px;
  transition: 1s;
}

.home .card:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.home .container h1 {
  margin-left: 15px;
  padding: 10px 0;
}

.home h2 {
  padding-bottom: 7px;
}

.home .nextdate {  
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;  
  align-items: center;
}

.home .nextdate:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.home .nextdate h1 {
  font-size: 15px;
  white-space: nowrap;
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.home .nextdate .content {
  padding-left: 10px;
  border-left: 1 px solid rgba(255, 255, 255, 0.3);  
  display: inline-block;
}

.home .nextdate .content p {
  font-size: 12px;    
  padding: 0;
}

.home .video-container {
  height: 360px;  
}

.home .newdate .title {
  display: flex;
  flex-direction: row;  
}

.home p.date {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: lowercase; 
}

.home .content {
  display: flex;
  flex-direction: row;  
  align-items: center;
}

.home .newdate .content img {
  width: 70%;
  max-width: 480px;
  margin: 10px;  
  border: 1px rgba(255, 255, 255, 0.3) solid;  
  align-self: flex-end;  
}

.home .newdate .title h2 {
  white-space: nowrap;
}

.home .newdate .content .info {
  width: 30%;
  height: 50%;  
}

.home .newdate p {  
  width: 100%;
  text-align: justify;  
}

/*BIO*/

.bio .container {
  background-image: url('./assets/img/bg/bio.png');
  background-size: cover;
}


.bio .card {
  width: 480px;
  align-self: flex-end;
  
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  margin: 15px 50px 15px ;
}

.bio .card p {
  color: rgb(51,51,51);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
}

/*MEDIA*/

.media {
  color: black;
}

.media .separator {
  width: 100%;
  height: 360px;;
}

.separator.a {
  background-image: url('./assets/img/separator/jm6.png');
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 40%;
}

.separator.b {
  background-image: url('./assets/img/separator/cocinamagnetica.png');
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 75%;
}

.separator.c {
  background-image: url('./assets/img/separator/cmf.png');
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 100%;
}

.separator.d {
  background-image: url('./assets/img/separator/sabalaje.png');
  background-attachment: fixed;
  background-size: cover;
}

.media .card {
  width: 100%;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.media .info {
  max-height: 100%;
  width: 50%;
  display: block;  
}

.media .desc {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.media .social {  
  height: 50px;
  width: 50%;
  display: block;
}

.media a.fab {
  color: rgb(102,102,102);
  font-size: 45px;
  font-weight: 100;
  padding-left: 20px;
}

.media .fa-youtube:hover {
  color: rgb(255, 0, 0);
}

.media .fa-instagram:hover {
  color: rgb(56, 151, 240);  
}

.media .fa-facebook:hover {
  color: rgb(78,105,162);
}

.media a.fas {
  color: rgb(102,102,102);
  font-size: 45px;
  padding-left: 20px;
}

.media a.fas:hover {
  color: rgb(170,170,170);
}

.media .video-container {
  height: 360px;
  width: 50%;
  display: block;
}

.video {
  height: 100%;
  width: 100%;
}

/*AGENDA*/

.agenda .container {
  background-image: url('./assets/img/bg/agenda.png');
  background-size: cover;
}

.agenda .card {
  width: 45%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 5px;
}

/*CONTACTO*/

.contacto .container {
  background-image: url('./assets/img/bg/contacto.png');
  background-size: cover;
}

.contacto .card {
  width: 45%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 70px;
  border-radius: 5px;
}

/*PRESSKIT*/

.presskit .container {
  background-color: rgb(170,170,170);
}

.presskit .card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.presskit .file {
  display: flex;  
  align-items: center;
  margin: 20px 0;
  margin-left: 10%;
}

.presskit .fas {
  font-size: 45px;
  display: inline-block;
}

.presskit h1 {
  margin-left: 15px;
  display: inline-block;
}

.presskit .video-container {
  height: 360px;
}

.presskit .video {
  height: 100%;
  width: 100%;
}

/* MOBILE STYLES */

@media screen and (max-width: 480px) {
  main .container {
    background-image: url('./assets/img/bg/home480.png');
  }
}

/* TABLES STYLES*/

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .home .container {
    background-image: url('./assets/img/bg/home1024.png');
  }
}